:root {
  --bg: #121212;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}


/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"],
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: black;
  position: relative;
  overflow-x: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* constants */

/* ------------------------------------- */

.infopagemain {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infopageoptions {
  width: 100%;
  position: fixed;
  top: 2%;
  z-index: 4;
}

.infopageoptions span {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.infopageoptions span a {
  cursor: pointer;
  z-index: 2;
}

.infopageoptions span .a {
  cursor: pointer;
  z-index: 2;
}

.infopageoptions span .icons {
  width: 40px;
  height: 40px;
  padding: 10px;
  background: rgba(41, 41, 41, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.copiedpopup {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  width: 50%;
  height: 40px;
  color: white;
  background: red;
  z-index: 2;
  display: flex;
  font-weight: 600;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.infopageposter {
  width: 100%;
  height: 600px;
  position: fixed;
  top: 0;
}

.infopageposter .mobileimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.infopageposter .deskimg {
  display: none;
}

.infosection {
  width: 100%;
  height: 100%;
  z-index: 3;
  color: white;
  /* padding: 0rem 0rem 5rem 0rem; */
}

.infomain {
  width: 100%;
  height: 600px;
  position: relative;
}

.infomain::before{
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 200px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
  mask: linear-gradient(to top, black 75%, transparent);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.infosub {
  width: 100%;
  position: absolute;
  bottom: 0%;
  left: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.infosub > img{
  width: 300px;
  height: 50px;
  object-fit: contain;
  object-position: center;
  
}

.infosub > span {
  display: flex;
  gap: .5rem;
}

.infosub2{
  padding: 1rem 1rem 8rem 1rem;
  width: 100%;
  height: 100%;
  background: black;
}

.description{
  background: black;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.description .less{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: justify;
}

.description .more{
  text-align: justify;
  display: block;
}

.description button{
  border: none;
  color: white;
  background: transparent;
}

.infosection  .divider{
  width: 100%;
  height: .5px;
  border: none;
  background: rgba(255, 255, 255, 0.3);
}

.season-select{
  width: 100%;
  height: 100%;
  background: black;
}

.season-select select{
  background: #121212;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 1rem;
}

.episodes-list{
  display: grid;
  grid-auto-flow: column;  
  gap: 1rem;
  padding: 1rem 0rem;
  overflow-x: auto;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  color: white;
}

.episodes-list::-webkit-scrollbar { 
  display: none;  
}

.episode{
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  border-radius: 0px 10px 10px 0px ;

}

.episode img{
  width: 300px;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.episode span {
  display: flex;
  justify-content: space-between;
}

.episode p{
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.episode button{
  border: none;
  border-radius: 5px;
  background: white;
}


@media screen and (min-width: 1024px) {
  .infopageoptions span .icons {
    width: 50px;
    height: 50px;
  }

  .infopageposter {
    height: 600px;
  }

  .infomain::before{
    height: 300px;
  }

  
  .infosub{
    justify-content: center;
    align-items: flex-start;
  }
  
  .infosub > img{
    width: 300px;
    height: 100px;
    object-position: left;
  }
  
  .infosub > span{
    width: 300px;
    align-items: center;
    justify-content: center;
  }
  
  .infopageposter .deskimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .infopageposter .mobileimg {
    display: none;
  }
  .episodes-list{
      scrollbar-width: thin; 

  }
  
  .episodes-list::-webkit-scrollbar { 
    display: block;  
    color: white;
    background: white;
  }

  

}


/*  */

.loading_main {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}

.loading {
  width: 150px;
  height: 150px;
}

/*  */
.movieinfopagemain {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movieinfopageoptions {
  width: 100%;
  position: fixed;
  top: 2%;
  z-index: 4;
}

.movieinfopageoptions span {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.movieinfopageoptions span a {
  cursor: pointer;
  z-index: 2;
}
.movieinfopageoptions span .a {
  cursor: pointer;
  z-index: 2;
}

.movieinfopageoptions span .icons {
  width: 40px;
  height: 40px;
  padding: 10px;
  background: rgba(41, 41, 41, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.movieinfopageposter {
  width: 100%;
  height: 600px;
  position: fixed;
  top: 0;
}

.movieinfopageposter .mobileimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movieinfopageposter .deskimg {
  display: none;
}

.movieinfosection {
  width: 100%;
  height: 100%;
  z-index: 3;
  color: white;
  /* padding: 0rem 0rem 5rem 0rem; */
}

.movieinfomain {
  width: 100%;
  height: 600px;
  position: relative;
}

.movieinfomain::before{
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 200px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
  mask: linear-gradient(to top, black 75%, transparent);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.movieinfosub {
  width: 100%;
  position: absolute;
  bottom: 0%;
  left: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.movieinfosub > img{
  width: 300px;
  height: 50px;
  object-fit: contain;
  object-position: center;
  
}

.movieinfosub > span {
  display: flex;
  gap: .5rem;
}

.movieinfosub2{
  padding: 1rem 1rem 8rem 1rem;
  width: 100%;
  height: 100%;
  background: black;
}

.description{
  background: black;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.description .less{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: justify;
}

.description .more{
  text-align: justify;
  display: block;
}

.description button{
  border: none;
  color: white;
  background: transparent;
}

.movieinfosection  .divider{
  width: 100%;
  height: .5px;
  border: none;
  background: rgba(255, 255, 255, 0.3);
}

.download {
  display: flex;
  align-items: flex-start;
  padding: 1rem 0rem;
}

.download span{
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.download span img{
  width: 100%;
  border-radius: 20px;
}

.download span a{
  background: #fff;
  border-radius: 5px;
  padding: .5rem 1rem;
  font-weight: 600;
  color: black;

}


/*  */
.loading_main {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}

.loading {
  width: 150px;
  height: 150px;
}

/*  */
